.list-accounts-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
.search-result,
.search {
  width: calc(360px - 2 * var(--border-size));
}
.search {
  display: flex;
  height: calc(var(--search-height) - 2 * var(--border-size));
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  align-items: center;
  border: solid 1.5px transparent;
  box-sizing: content-box;
  input {
    flex: 1;
    height: 100%;
    color: var(--search-text-color);
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0 0 0 16px;
    caret-color: var(--primary-color);
    font-family: var(--font-family);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  // input:not(:placeholder-shown) ~ .clear {
  //   display: block;
  // }

  &::after {
    content: '';
    position: absolute;
    height: calc(var(--search-height) - 2 * var(--search-top-spacer));
    background: rgba(22, 24, 35, 0.12);
    width: 1px;
    top: var(--search-top-spacer);
    right: var(--search-width);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}


.clear,
.loading {
  position: absolute;
  right: calc(var(--search-width) + 16px);
  color: rgba(22, 24, 35, 0.34);
  // display: none;
  //   top: 50%;
}

.loading {
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.search-btn {
    width: var(--search-width);
    height: calc(var(--search-height) - 2 * var(--border-size));
    font-size: 1.8rem;
    color: #a7a7ab;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;
    border: 1.5px solid transparent;
    &:hover {
      background: rgba(22, 24, 35, 0.03);
    }
  
    &:active {
      background: rgba(22, 24, 35, 0.06);
    }
  }

