@import 'normalize.css';
:root {
    --default-layout-header-width: 1150px;
    --default-layout-header-height: 60px;
    --default-layout-horizontal: 24px;
    --search-text-color: #000;
    --primary-color: rgba(254, 44, 85, 1);
    --font-family: 'ProximaNova', sans-serif;
}

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1, p {
    margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-y: overlay;
    text-rendering: optimizeLegibility;
    margin: 0;
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

//scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--search-text-color);
    text-decoration: none;
}

//fonts
@font-face {
    font-family: ProximaNova;
    src: url('/acssets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/acssets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/acssets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/acssets/fonts/sofiapro-semibold.otf');
    font-weight: 700;
}


//custom tippy
body {
    .tippy-box{
       background-color: rgba(84, 84, 84, 0.92);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    border-radius: 8px; 
    }
    
    .tippy-content {
        padding: 8px 9px;
    }
}