.content {
  width: 224px;
}

.menu-wrapper {
  padding: 8px 0;
}

.body-popper {
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 11px 16px;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.header {
  position: relative;
  height: 50px;
  flex-shrink: 0;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.saparate {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: solid 1px rgba(22, 24, 35, 0.12);
}
